/* About me section */

.about-inner-section {
    grid-template-areas: 
        "title"
        "photo"
        "text";
}

.about-me-left-column {
    max-height: 400px;
}

.about-me-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-right-column {
    padding: 32px;
}

.about-me-right-column > * {
    text-align: left;
}

.about-me-paragraph {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    padding-left: 16px;
}

@media (min-width: 800px) {
    .about-inner-section {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "photo text";
    }

    .section-title {
        grid-area: title;
    }

    .about-me-left-column {
        grid-area: photo;
        max-height: 550px;
    }

    .about-me-right-column {
        grid-area: text;
    }
}