.offer-inner-section {
    display: block;
}

.offer-section-title {
    color: var(--color-burgundy);
}

.offer-sub-section {
    display: grid;
    grid-template-areas:
        "title"
        "left-image"
        "right-image"
        "text";
}

.offer-sub-section:first-of-type {
    padding-top: 0;
}

.offer-sub-section-title {
    grid-area: title;
}

.offer-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    grid-area: photo;
    margin-bottom: 0.5rem;
}

.left-image {
    grid-area: left-image;
}

.right-image {
    grid-area: right-image;
}

.offer-paragraph {
    grid-area: text;
    box-sizing: border-box;
    width: 75%;
    margin: 36px auto;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-burgundy);
}

@media (min-width: 800px) {
    .offer-sub-section {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        grid-template-areas:
            "title title"
            "left-image right-image"
            "text text";
    }
}