@font-face {
    font-family: 'Cantor Bold';
    src: url('./fonts/Canter-Bold.woff2') format('woff2'),
         url('./fonts/Canter-Bold.woff') format ('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Global styles */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    --header-height: 60px;

    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Cantor Bold", sans-serif;

    --color-burgundy: #370F16;
    --color-rose: hsl(354, 52%, 86%);
    --color-black: black;
    --color-white: white;

    --max-width: 1152px;

    --border: 1px solid color-mix(in srgb, var(--color-burgundy) 20%, transparent);

    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

button {
    border: none;
    background: none;
}

.paragraph {
    font-family: var(--ff-primary);
}

.button {
    font-family: var(--ff-primary);
    font-size: 1rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    color: var(--color-rose);
    background: var(--color-burgundy);
    border-radius: 12px;
}

/* Main */

.main {
    background-color: var(--color-rose);
}

.header-placeholder {
    height: var(--header-height);
}

.section {
    box-sizing: border-box;
    height: auto;
    text-align: center;
}

.inner-section {
    border-top: var(--border);
}

.inner-section {
    max-width: var(--max-width);
    min-height: 100px;
    margin: 0 auto;
    display: grid;
    padding: 2rem 0;
}

.section-title {
    font-family: var(--ff-primary);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #3D1020;
    margin-bottom: 1.5rem;
}

.sub-section {
    box-sizing: border-box;
}

.sub-section-title {
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: var(--color-burgundy);
    margin-bottom: 1rem;
}

/* Footer */

.footer {
    text-align: center;
    background-color: var(--color-rose);
}

.copyright {
    color: var(--color-burgundy);
    margin: 16px auto;
    font-family: var(--ff-primary);
}