@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

@font-face {
    font-family: 'Cantor Bold';
    src: url('./fonts/Canter-Bold.woff2') format('woff2'),
         url('./fonts/Canter-Bold.woff') format ('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Global styles */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    --header-height: 60px;

    --ff-primary: "Cantor Bold", sans-serif;
    --ff-secondary: "Josefin Sans", sans-serif;

    --color-burgundy: #370F16;
    --color-rose: #eec9cd;
    --color-black: black;
    --color-white: white;

    --background-gray: rgb(245, 245, 245);
    --background-opaque-rose: rgba(238, 201, 205, 0.5);

    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: var(--ff-primary);
}

p {
    font-family: var(--ff-secondary);
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

button {
    border: none;
    background: none;
}

.button {
    font-family: var(--ff-secondary);
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease;
    padding: 10px 24px;
    border: 1px solid var(--color-burgundy);
    color: var(--color-white);
    background: var(--color-burgundy);
    border-radius: 12px;
}

.button:hover {
    background: var(--color-black);
}

/* Header */

.header {
    box-sizing: border-box;
    height: var(--header-height);
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-rose);
    z-index: 999;
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 12px;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 1px solid var(--color-burgundy);
}

.header-title {
    font-size: 28px;
}

.nav {
    width: 34px;
}

.nav-list {
    list-style-type: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    padding: 0;
    height: 0;
    text-align: center;
    background-color: var(--color-rose);
    overflow: hidden;
    transition: height 0.4s ease; 
}

.nav-list.is-open {
    height: 180px;
}

.nav-list > * {
    font-family: var(--ff-secondary);
    font-size: 18px;
    margin: 10px 0;
}


.nav-list > * > a {
    text-decoration: none;
    list-style: none;
    color: var(--color-burgundy);
    transition: color 0.1s;
}

.nav-list > * > a:hover {
    color: hsl(0, 0%, 0%);
}

.social-media-icons {
    margin: 36px 0;
}

.social-media-icons > * {
    margin: 0 8px;
}

.menu-toggle {
    padding-right: 12px;
}

.menu-toggle i {
  font-size: 1.5rem;
  color: var(--color-burgundy);
}

/* Main */

.header-placeholder {
    height: var(--header-height);
}

.section {
    box-sizing: border-box;
    height: auto;
    /* min-height: 512px; */
    margin-bottom: 16px;
    background-color: var(--background-gray);
    text-align: center;
    padding: 32px 0;
}

.inner-section {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
}

.section-title {
    font-family: var(--ff-secondary);
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #3D1020;
    margin-bottom: 32px;
}

.sub-section {
    box-sizing: border-box;
}

.sub-section-title {
    font-family: var(--ff-secondary);
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 0.06em;
    color: #3D1020;
    margin-bottom: 32px;
}

/* Footer */

.footer {
    text-align: center;
    background-color: var(--background-gray);
}

.copyright {
    margin: 16px auto;
}

@media (min-width: 800px) {
    .section {
        padding: 32px 2vw;
    }

    /* .sub-section {
        width: 48vw;
    } */
}

@media (min-width: 1040px) {
    .menu-toggle {
        display: none;
    }

    .nav {
        width: auto;
    }

    .nav-list {
        position: static;
        width: auto;
        overflow: visible;
        background-color: transparent;
        transition: none;

        display: flex;
        align-items: center;
        height: var(--header-height);
        gap: 24px;
    }

    .nav-list > * {
        margin: 0;
    }

    .social-media-icons {
        margin: 0;
        display: flex;
        align-items: center;
    }
}